{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "title": "Azure Action Groups",
        "version": "2018-09-01",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-ms-code-generation-settings": {
            "name": "MonitorManagementClient"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/monitor/resource-manager/Microsoft.Insights/stable/2018-09-01/actionGroups_API.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "monitor-actionGroups_API",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/providers/microsoft.insights/actionGroups": {
            "get": {
                "description": "Get a list of all action groups in a subscription.",
                "operationId": "ActionGroups_ListBySubscriptionId",
                "parameters": [
                    {
                        "description": "The Azure subscription Id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request succeeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of action groups.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Provides the link to retrieve the next set of elements.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The list of action groups.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "An azure resource object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Azure resource Id",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create",
                                                                    "read"
                                                                ]
                                                            },
                                                            "name": {
                                                                "description": "Azure resource name",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags"
                                                            },
                                                            "type": {
                                                                "description": "Azure resource type",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "An action group resource.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The action groups properties of the resource.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "armRoleReceivers": {
                                                                "description": "The list of ARM role receivers that are part of this action group. Roles are Azure RBAC roles and only built-in roles are supported.",
                                                                "items": {
                                                                    "description": "An arm role receiver.",
                                                                    "properties": {
                                                                        "name": {
                                                                            "description": "The name of the arm role receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        },
                                                                        "roleId": {
                                                                            "description": "The arm role id.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "roleId"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "automationRunbookReceivers": {
                                                                "description": "The list of AutomationRunbook receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "The Azure Automation Runbook notification receiver.",
                                                                    "properties": {
                                                                        "automationAccountId": {
                                                                            "description": "The Azure automation account Id which holds this runbook and authenticate to Azure resource.",
                                                                            "type": "string"
                                                                        },
                                                                        "isGlobalRunbook": {
                                                                            "description": "Indicates whether this instance is global runbook.",
                                                                            "type": "boolean"
                                                                        },
                                                                        "name": {
                                                                            "description": "Indicates name of the webhook.",
                                                                            "type": "string"
                                                                        },
                                                                        "runbookName": {
                                                                            "description": "The name for this runbook.",
                                                                            "type": "string"
                                                                        },
                                                                        "serviceUri": {
                                                                            "description": "The URI where webhooks should be sent.",
                                                                            "type": "string"
                                                                        },
                                                                        "webhookResourceId": {
                                                                            "description": "The resource id for webhook linked to this runbook.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "automationAccountId",
                                                                        "runbookName",
                                                                        "webhookResourceId",
                                                                        "isGlobalRunbook"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "azureAppPushReceivers": {
                                                                "description": "The list of AzureAppPush receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "The Azure mobile App push notification receiver.",
                                                                    "properties": {
                                                                        "emailAddress": {
                                                                            "description": "The email address registered for the Azure mobile app.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "The name of the Azure mobile app push receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "emailAddress"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "azureFunctionReceivers": {
                                                                "description": "The list of azure function receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "An azure function receiver.",
                                                                    "properties": {
                                                                        "functionAppResourceId": {
                                                                            "description": "The azure resource id of the function app.",
                                                                            "type": "string"
                                                                        },
                                                                        "functionName": {
                                                                            "description": "The function name in the function app.",
                                                                            "type": "string"
                                                                        },
                                                                        "httpTriggerUrl": {
                                                                            "description": "The http trigger url where http request sent to.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "The name of the azure function receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "functionAppResourceId",
                                                                        "functionName",
                                                                        "httpTriggerUrl"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "emailReceivers": {
                                                                "description": "The list of email receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "An email receiver.",
                                                                    "properties": {
                                                                        "emailAddress": {
                                                                            "description": "The email address of this receiver.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "The name of the email receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        },
                                                                        "status": {
                                                                            "description": "The receiver status of the e-mail.",
                                                                            "readOnly": true,
                                                                            "enum": [
                                                                                "NotSpecified",
                                                                                "Enabled",
                                                                                "Disabled"
                                                                            ],
                                                                            "type": "string",
                                                                            "x-ms-enum": {
                                                                                "modelAsString": false,
                                                                                "name": "ReceiverStatus"
                                                                            }
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "emailAddress"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "enabled": {
                                                                "default": true,
                                                                "description": "Indicates whether this action group is enabled. If an action group is not enabled, then none of its receivers will receive communications.",
                                                                "type": "boolean"
                                                            },
                                                            "groupShortName": {
                                                                "description": "The short name of the action group. This will be used in SMS messages.",
                                                                "maxLength": 12,
                                                                "type": "string"
                                                            },
                                                            "itsmReceivers": {
                                                                "description": "The list of ITSM receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "An Itsm receiver.",
                                                                    "properties": {
                                                                        "connectionId": {
                                                                            "description": "Unique identification of ITSM connection among multiple defined in above workspace.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "The name of the Itsm receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        },
                                                                        "region": {
                                                                            "description": "Region in which workspace resides. Supported values:'centralindia','japaneast','southeastasia','australiasoutheast','uksouth','westcentralus','canadacentral','eastus','westeurope'",
                                                                            "type": "string"
                                                                        },
                                                                        "ticketConfiguration": {
                                                                            "description": "JSON blob for the configurations of the ITSM action. CreateMultipleWorkItems option will be part of this blob as well.",
                                                                            "type": "string"
                                                                        },
                                                                        "workspaceId": {
                                                                            "description": "OMS LA instance identifier.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "workspaceId",
                                                                        "connectionId",
                                                                        "ticketConfiguration",
                                                                        "region"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "logicAppReceivers": {
                                                                "description": "The list of logic app receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "A logic app receiver.",
                                                                    "properties": {
                                                                        "callbackUrl": {
                                                                            "description": "The callback url where http request sent to.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "The name of the logic app receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        },
                                                                        "resourceId": {
                                                                            "description": "The azure resource id of the logic app receiver.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "resourceId",
                                                                        "callbackUrl"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "smsReceivers": {
                                                                "description": "The list of SMS receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "An SMS receiver.",
                                                                    "properties": {
                                                                        "countryCode": {
                                                                            "description": "The country code of the SMS receiver.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "The name of the SMS receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        },
                                                                        "phoneNumber": {
                                                                            "description": "The phone number of the SMS receiver.",
                                                                            "type": "string"
                                                                        },
                                                                        "status": {
                                                                            "description": "The status of the receiver.",
                                                                            "readOnly": true,
                                                                            "enum": [
                                                                                "NotSpecified",
                                                                                "Enabled",
                                                                                "Disabled"
                                                                            ],
                                                                            "type": "string",
                                                                            "x-ms-enum": {
                                                                                "modelAsString": false,
                                                                                "name": "ReceiverStatus"
                                                                            }
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "countryCode",
                                                                        "phoneNumber"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "voiceReceivers": {
                                                                "description": "The list of voice receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "A voice receiver.",
                                                                    "properties": {
                                                                        "countryCode": {
                                                                            "description": "The country code of the voice receiver.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "The name of the voice receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        },
                                                                        "phoneNumber": {
                                                                            "description": "The phone number of the voice receiver.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "countryCode",
                                                                        "phoneNumber"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "webhookReceivers": {
                                                                "description": "The list of webhook receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "A webhook receiver.",
                                                                    "properties": {
                                                                        "name": {
                                                                            "description": "The name of the webhook receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        },
                                                                        "serviceUri": {
                                                                            "description": "The URI where webhooks should be sent.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "serviceUri"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "groupShortName",
                                                            "enabled"
                                                        ]
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred and the list of action groups could not be retrieved.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the format of Error response.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "List action groups": {
                        "parameters": {
                            "api-version": "2018-03801",
                            "resourceGroupName": "Default-NotificationRules",
                            "subscriptionId": "187f412d-1758-44d9-b052-169e2564721d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-NotificationRules/providers/microsoft.insights/actionGroups/SampleActionGroup",
                                            "location": "Global",
                                            "name": "SampleActionGroup",
                                            "properties": {
                                                "emailReceivers": [
                                                    {
                                                        "emailAddress": "johndoe@email.com",
                                                        "name": "John Doe's email",
                                                        "status": "Enabled"
                                                    },
                                                    {
                                                        "emailAddress": "janesmith@email.com",
                                                        "name": "Jane Smith's email",
                                                        "status": "Disabled"
                                                    }
                                                ],
                                                "enabled": true,
                                                "groupShortName": "sample",
                                                "smsReceivers": [
                                                    {
                                                        "countryCode": "1",
                                                        "name": "John Doe's mobile",
                                                        "phoneNumber": "1234567890",
                                                        "status": "Disabled"
                                                    },
                                                    {
                                                        "countryCode": "1",
                                                        "name": "Jane Smith's mobile",
                                                        "phoneNumber": "0987654321",
                                                        "status": "Enabled"
                                                    }
                                                ],
                                                "webhookReceivers": [
                                                    {
                                                        "name": "Sample webhook",
                                                        "serviceUri": "http://www.example.com/webhook"
                                                    }
                                                ]
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Insights/ActionGroups"
                                        },
                                        {
                                            "id": "/subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-NotificationRules/providers/microsoft.insights/actionGroups/SampleActionGroup2",
                                            "location": "Global",
                                            "name": "SampleActionGroup2",
                                            "properties": {
                                                "emailReceivers": [
                                                    {
                                                        "emailAddress": "johndoe@email.com",
                                                        "name": "John Doe's email",
                                                        "status": "Enabled"
                                                    }
                                                ],
                                                "enabled": false,
                                                "groupShortName": "sample2",
                                                "smsReceivers": [
                                                    {
                                                        "countryCode": "1",
                                                        "name": "Jane Smith's mobile",
                                                        "phoneNumber": "0987654321",
                                                        "status": "Enabled"
                                                    }
                                                ],
                                                "webhookReceivers": []
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Insights/ActionGroups"
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "x-ms-pageable": {}
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/actionGroups": {
            "get": {
                "description": "Get a list of all action groups in a resource group.",
                "operationId": "ActionGroups_ListByResourceGroup",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription Id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request succeeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "A list of action groups.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "Provides the link to retrieve the next set of elements.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The list of action groups.",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "description": "An azure resource object",
                                                        "properties": {
                                                            "id": {
                                                                "description": "Azure resource Id",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "location": {
                                                                "description": "Resource location",
                                                                "type": "string",
                                                                "x-ms-mutability": [
                                                                    "create",
                                                                    "read"
                                                                ]
                                                            },
                                                            "name": {
                                                                "description": "Azure resource name",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            },
                                                            "tags": {
                                                                "additionalProperties": {
                                                                    "type": "string"
                                                                },
                                                                "description": "Resource tags"
                                                            },
                                                            "type": {
                                                                "description": "Azure resource type",
                                                                "readOnly": true,
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "location"
                                                        ],
                                                        "x-ms-azure-resource": true,
                                                        "type": "object"
                                                    }
                                                ],
                                                "description": "An action group resource.",
                                                "properties": {
                                                    "properties": {
                                                        "description": "The action groups properties of the resource.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "armRoleReceivers": {
                                                                "description": "The list of ARM role receivers that are part of this action group. Roles are Azure RBAC roles and only built-in roles are supported.",
                                                                "items": {
                                                                    "description": "An arm role receiver.",
                                                                    "properties": {
                                                                        "name": {
                                                                            "description": "The name of the arm role receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        },
                                                                        "roleId": {
                                                                            "description": "The arm role id.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "roleId"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "automationRunbookReceivers": {
                                                                "description": "The list of AutomationRunbook receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "The Azure Automation Runbook notification receiver.",
                                                                    "properties": {
                                                                        "automationAccountId": {
                                                                            "description": "The Azure automation account Id which holds this runbook and authenticate to Azure resource.",
                                                                            "type": "string"
                                                                        },
                                                                        "isGlobalRunbook": {
                                                                            "description": "Indicates whether this instance is global runbook.",
                                                                            "type": "boolean"
                                                                        },
                                                                        "name": {
                                                                            "description": "Indicates name of the webhook.",
                                                                            "type": "string"
                                                                        },
                                                                        "runbookName": {
                                                                            "description": "The name for this runbook.",
                                                                            "type": "string"
                                                                        },
                                                                        "serviceUri": {
                                                                            "description": "The URI where webhooks should be sent.",
                                                                            "type": "string"
                                                                        },
                                                                        "webhookResourceId": {
                                                                            "description": "The resource id for webhook linked to this runbook.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "automationAccountId",
                                                                        "runbookName",
                                                                        "webhookResourceId",
                                                                        "isGlobalRunbook"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "azureAppPushReceivers": {
                                                                "description": "The list of AzureAppPush receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "The Azure mobile App push notification receiver.",
                                                                    "properties": {
                                                                        "emailAddress": {
                                                                            "description": "The email address registered for the Azure mobile app.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "The name of the Azure mobile app push receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "emailAddress"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "azureFunctionReceivers": {
                                                                "description": "The list of azure function receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "An azure function receiver.",
                                                                    "properties": {
                                                                        "functionAppResourceId": {
                                                                            "description": "The azure resource id of the function app.",
                                                                            "type": "string"
                                                                        },
                                                                        "functionName": {
                                                                            "description": "The function name in the function app.",
                                                                            "type": "string"
                                                                        },
                                                                        "httpTriggerUrl": {
                                                                            "description": "The http trigger url where http request sent to.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "The name of the azure function receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "functionAppResourceId",
                                                                        "functionName",
                                                                        "httpTriggerUrl"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "emailReceivers": {
                                                                "description": "The list of email receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "An email receiver.",
                                                                    "properties": {
                                                                        "emailAddress": {
                                                                            "description": "The email address of this receiver.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "The name of the email receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        },
                                                                        "status": {
                                                                            "description": "The receiver status of the e-mail.",
                                                                            "readOnly": true,
                                                                            "enum": [
                                                                                "NotSpecified",
                                                                                "Enabled",
                                                                                "Disabled"
                                                                            ],
                                                                            "type": "string",
                                                                            "x-ms-enum": {
                                                                                "modelAsString": false,
                                                                                "name": "ReceiverStatus"
                                                                            }
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "emailAddress"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "enabled": {
                                                                "default": true,
                                                                "description": "Indicates whether this action group is enabled. If an action group is not enabled, then none of its receivers will receive communications.",
                                                                "type": "boolean"
                                                            },
                                                            "groupShortName": {
                                                                "description": "The short name of the action group. This will be used in SMS messages.",
                                                                "maxLength": 12,
                                                                "type": "string"
                                                            },
                                                            "itsmReceivers": {
                                                                "description": "The list of ITSM receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "An Itsm receiver.",
                                                                    "properties": {
                                                                        "connectionId": {
                                                                            "description": "Unique identification of ITSM connection among multiple defined in above workspace.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "The name of the Itsm receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        },
                                                                        "region": {
                                                                            "description": "Region in which workspace resides. Supported values:'centralindia','japaneast','southeastasia','australiasoutheast','uksouth','westcentralus','canadacentral','eastus','westeurope'",
                                                                            "type": "string"
                                                                        },
                                                                        "ticketConfiguration": {
                                                                            "description": "JSON blob for the configurations of the ITSM action. CreateMultipleWorkItems option will be part of this blob as well.",
                                                                            "type": "string"
                                                                        },
                                                                        "workspaceId": {
                                                                            "description": "OMS LA instance identifier.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "workspaceId",
                                                                        "connectionId",
                                                                        "ticketConfiguration",
                                                                        "region"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "logicAppReceivers": {
                                                                "description": "The list of logic app receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "A logic app receiver.",
                                                                    "properties": {
                                                                        "callbackUrl": {
                                                                            "description": "The callback url where http request sent to.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "The name of the logic app receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        },
                                                                        "resourceId": {
                                                                            "description": "The azure resource id of the logic app receiver.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "resourceId",
                                                                        "callbackUrl"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "smsReceivers": {
                                                                "description": "The list of SMS receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "An SMS receiver.",
                                                                    "properties": {
                                                                        "countryCode": {
                                                                            "description": "The country code of the SMS receiver.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "The name of the SMS receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        },
                                                                        "phoneNumber": {
                                                                            "description": "The phone number of the SMS receiver.",
                                                                            "type": "string"
                                                                        },
                                                                        "status": {
                                                                            "description": "The status of the receiver.",
                                                                            "readOnly": true,
                                                                            "enum": [
                                                                                "NotSpecified",
                                                                                "Enabled",
                                                                                "Disabled"
                                                                            ],
                                                                            "type": "string",
                                                                            "x-ms-enum": {
                                                                                "modelAsString": false,
                                                                                "name": "ReceiverStatus"
                                                                            }
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "countryCode",
                                                                        "phoneNumber"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "voiceReceivers": {
                                                                "description": "The list of voice receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "A voice receiver.",
                                                                    "properties": {
                                                                        "countryCode": {
                                                                            "description": "The country code of the voice receiver.",
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "description": "The name of the voice receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        },
                                                                        "phoneNumber": {
                                                                            "description": "The phone number of the voice receiver.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "countryCode",
                                                                        "phoneNumber"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "webhookReceivers": {
                                                                "description": "The list of webhook receivers that are part of this action group.",
                                                                "items": {
                                                                    "description": "A webhook receiver.",
                                                                    "properties": {
                                                                        "name": {
                                                                            "description": "The name of the webhook receiver. Names must be unique across all receivers within an action group.",
                                                                            "type": "string"
                                                                        },
                                                                        "serviceUri": {
                                                                            "description": "The URI where webhooks should be sent.",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "name",
                                                                        "serviceUri"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "required": [
                                                            "groupShortName",
                                                            "enabled"
                                                        ]
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "An error occurred and the list of action groups could not be retrieved.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the format of Error response.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "List action groups": {
                        "parameters": {
                            "api-version": "2018-03801",
                            "resourceGroupName": "Default-NotificationRules",
                            "subscriptionId": "187f412d-1758-44d9-b052-169e2564721d"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-NotificationRules/providers/microsoft.insights/actionGroups/SampleActionGroup",
                                            "location": "Global",
                                            "name": "SampleActionGroup",
                                            "properties": {
                                                "emailReceivers": [
                                                    {
                                                        "emailAddress": "johndoe@email.com",
                                                        "name": "John Doe's email",
                                                        "status": "Enabled"
                                                    },
                                                    {
                                                        "emailAddress": "janesmith@email.com",
                                                        "name": "Jane Smith's email",
                                                        "status": "Disabled"
                                                    }
                                                ],
                                                "enabled": true,
                                                "groupShortName": "sample",
                                                "smsReceivers": [
                                                    {
                                                        "countryCode": "1",
                                                        "name": "John Doe's mobile",
                                                        "phoneNumber": "1234567890",
                                                        "status": "Disabled"
                                                    },
                                                    {
                                                        "countryCode": "1",
                                                        "name": "Jane Smith's mobile",
                                                        "phoneNumber": "0987654321",
                                                        "status": "Enabled"
                                                    }
                                                ],
                                                "webhookReceivers": [
                                                    {
                                                        "name": "Sample webhook",
                                                        "serviceUri": "http://www.example.com/webhook"
                                                    }
                                                ]
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Insights/ActionGroups"
                                        },
                                        {
                                            "id": "/subscriptions/187f412d-1758-44d9-b052-169e2564721d/resourceGroups/Default-NotificationRules/providers/microsoft.insights/actionGroups/SampleActionGroup2",
                                            "location": "Global",
                                            "name": "SampleActionGroup2",
                                            "properties": {
                                                "emailReceivers": [
                                                    {
                                                        "emailAddress": "johndoe@email.com",
                                                        "name": "John Doe's email",
                                                        "status": "Enabled"
                                                    }
                                                ],
                                                "enabled": false,
                                                "groupShortName": "sample2",
                                                "smsReceivers": [
                                                    {
                                                        "countryCode": "1",
                                                        "name": "Jane Smith's mobile",
                                                        "phoneNumber": "0987654321",
                                                        "status": "Enabled"
                                                    }
                                                ],
                                                "webhookReceivers": []
                                            },
                                            "tags": {},
                                            "type": "Microsoft.Insights/ActionGroups"
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "x-ms-pageable": {}
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/actionGroups/{actionGroupName}": {
            "delete": {
                "description": "Delete an action group.",
                "operationId": "ActionGroups_Delete",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the action group.",
                        "in": "path",
                        "name": "actionGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription Id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The action group was successfully deleted."
                    },
                    "204": {
                        "description": "The action group does not exist. It may have already been deleted."
                    },
                    "default": {
                        "description": "An error occurred and the action group could not be deleted.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Describes the format of Error response.",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "x-ms-examples": {
                    "Delete an action group": {
                        "parameters": {
                            "actionGroupName": "SampleActionGroup",
                            "api-version": "2018-08-01",
                            "resourceGroupName": "Default-NotificationRules",
                            "subscriptionId": "187f412d-1758-44d9-b052-169e2564721d"
                        },
                        "responses": {
                            "200": {
                                "body": null,
                                "headers": {}
                            },
                            "204": {
                                "body": null,
                                "headers": {}
                            }
                        }
                    }
                }
            },
            "get": {
                "description": "Get an action group.",
                "operationId": "ActionGroups_Get",
                "parameters": [
                    {
                        "description": "The name of the resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the action group.",
                        "in": "path",
                        "name": "actionGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The Azure subscription Id.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The request succeeded.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "description": "An azure resource object",
                                            "properties": {
                                                "id": {
                                                    "description": "Azure resource Id",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "location": {
                                                    "description": "Resource location",
                                                    "type": "string",
                                                    "x-ms-mutability": [
                                                        "create",
                                                        "read"
                                                    ]
                                                },
                                                "name": {
                                                    "description": "Azure resource name",
                                                    "readOnly": true,
                                                    "type": "string"
                                                },
                                                "tags": {
                                                    "additionalProperties": {
                                                        "type": "string"
                                                    },
                                                    "description": "Resource tags"
                                                },
                                                "type": {
                                                    "description": "Azure resource type",
                                                    "readOnly": true,
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "location"
                                            ],
                                            "x-ms-azure-resource": true,
                                            "type": "object"
                                        }
                                    ],
                                    "description": "An action group resource.",
                                    "properties": {
                                        "properties": {
                                            "description": "The action groups properties of the resource.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "armRoleReceivers": {
                                                    "description": "The list of ARM role receivers that are part of this action group. Roles are Azure RBAC roles and only built-in roles are supported.",
                                                    "items": {
                                                        "description": "An arm role receiver.",
                                                        "properties": {
                                                            "name": {
                                                                "description": "The name of the arm role receiver. Names must be unique across all receivers within an action group.",
                                                                "type": "string"
                                                            },
                                                            "roleId": {
                                                                "description": "The arm role id.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "roleId"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "automationRunbookReceivers": {
                                                    "description": "The list of AutomationRunbook receivers that are part of this action group.",
                                                    "items": {
                                                        "description": "The Azure Automation Runbook notification receiver.",
                                                        "properties": {
                                                            "automationAccountId": {
                                                                "description": "The Azure automation account Id which holds this runbook and authenticate to Azure resource.",
                                                                "type": "string"
                                                            },
                                                            "isGlobalRunbook": {
                                                                "description": "Indicates whether this instance is global runbook.",
                                                                "type": "boolean"
                                                            },
                                                            "name": {
[...]
